<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ferinadwifitri.emenu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PesananActivity"></activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".KeranjangActivity" />
        <activity android:name=".ListMenuActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ListKategoriActivity" />
        <activity android:name=".DetailMenuActivity" />
        <activity android:name=".KategoriActivity" />
        <activity android:name=".QrCodeActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".MainActivity">

            <!-- activity pertama jalan -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>